<p>
  Bonjour <%= @user.first_name %>, <br>
  Vous avez reçu un message, sur votre chien <%= @dog.breed %>.

  Pour le consulter, rendez vous <%= link_to('ici', dog_url(@dog)) %>. <br>

  Bonne journée, <br>
  L'équipe de Doggui
</p>
