

 <div class="banner2" style="background-image: url('<%= asset_path'Chien.landing.jpg'%>');">
    <div class="banner-content">
      <h1> Partager votre molosse </h1>
    </div>
  </div>


<div class="container">
  <%= render partial: 'dogs/form' %>
</div>
