<div class="banner2" style="background-image: url('<%= asset_path'Chien.landing.jpg'%>');">
  <div class="banner-content">
    <h1> <i class="fas fa-stopwatch"></i> 3min02 pour remplir le formulaire</h1>
  </div>
</div>


<div class="container">

  <%= render partial: 'dogs/form' %>
</div>
