<h1> Bienvenue sur la fiche d'un seul Dog <h1>
	<p> voici les infos de ce chien </p>	
		<ul> 
			<li> Surnom <%= @dog.nickname %> </li>
			<li> Taille : <%= @dog.size %></li>
			<li> Race : <%= @dog.breed %></li>
			<li> Maitre : <%= @dog.user.email %></li>
		</ul>
	