<h1>Editing Conversation Message</h1>

<%= render 'form', conversation_message: @conversation_message %>

<%= link_to 'Show', @conversation_message %> |
<%= link_to 'Back', conversation_messages_path %>
