<div class="container">
  <div class="row">
<h1> Bienvenue à l'annuaire de tous les chiens présents sur le site. Autant dire une belle floppée.</h1>


<% @dogs.each do |dog| %>
 <div class="col-xs-12 col-sm-4" >
  <%= link_to dog_show_path(slug: dog.slug) do %>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">


      <p> Dog Name : <b><%= dog.nickname %> </b></p>
  </div>
   <% end  %>
   </div>
   <%end%>

  </div>
</div>
