<div class="footer">
  <%= link_to "Contactez-nous", new_contact_path, class: 'link-footer'%>
  <%= link_to "Mentions légales", legislation_path, class: 'link-footer'%>
  <div class="footer-links">
    <a href="https://www.instagram.com/lesdoggui/" target="_blank"> <i class="fab fa-instagram"></i></a>
  </div>

</div>
