<div class="footer">
  <%= link_to "Contactez-nous", new_contact_path, class: 'link-to-nav'%>
  <div class="footer-links">
    <a href="#"> <i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>

</div>
