<div class="banner2" style="background-image: url('<%= asset_path'Chien.landing.jpg'%>');">
  <div class="banner-content">
    <h1> <i class="fas fa-file-signature"></i> Données admninistratives</h1>
  </div>
</div>


<div class="container">

      <div class="legal-titre">L'entreprise</div>

      <div class=legal-contenu>
      Le site Doggui.fr est édité par une Auto-entreprise enregistrée sous les numéros SIRET : 833 918 402 00011 et SIREN : 833 918 402.
      Le site est hébergé par la société OVH SAS sise 2 rue Kellermann 59100 ROUBAIX
      </div>

      <div class="legal-titre">La propriété intellectuelle</div>

      <div class=legal-contenu>
      La présentation et la reproduction de chacun des éléments, y compris les marques et logos qui apparaissent sur le site Doggui.fr sont protégées par les lois en vigueur sur la propriété intellectuelle en France et à l’étranger. Aucun élément composant le site Doggui.fr ne saurait être copié, modifié, réédité, ou distribué sous quelque support que ce soit de façon totale ou même partielle, sans l’autorisation préalable et sous réserve du respect des droits de propriété intellectuelle. La société Doggui se réserve le droit de poursuivre tout acte de contrefaçon de ses droits de propriété intellectuelle.
      </div>

</div>
