<div class="banner2" style="background-image: url('<%= asset_path'Chien.landing.jpg'%>');">
  <div class="banner-content">
    <h1><i class="fas fa-fist-raised"></i></i> L'engagement Doggui </h1>
  </div>
</div>

<div class="container">

<div class="nous-titre-1">
Chez Doggui, ce qui nous importe en premier lieu, <div class="text-orange">ce sont les étalons.</div>
</div>
<div class="nous-paragraphe-1">
Nous souhaitions créer cette plateforme pour les mettre à l’honneur, les faire se rencontrer, et que leurs saillies se déroulent dans les meilleures conditions. <br>
</div>

<div class="nous-paragraphe-2">
Nous souhaitions leur dédier un endroit bien à eux. Un endroit sécurisé et sécurisant, sain, où le respect de l’animal est une priorité.<br>
<div class="text-orange">Nous pensons qu’ils méritent un site où ils seraient les rois.</div>
</div>

<div class="nous-paragraphe-3">
Au fil des rencontres, nous nous sommes aperçus qu’un acte de saillie pouvait engendrer des situations litigieuses. Il est parfois difficile d’avoir les bonnes informations concernant l'animal : est-il parfaitement suivi ? La saillie a-t-elle bien fonctionnée ? Certains propriétaires peuvent être négligents et malhonnêtes, et les enjeux financiers peuvent également aboutir sur une escroquerie.<br>
</div>


<div class="nous-paragraphe-4">
Parce que nous voulions proposer un service proche de nos utilisateurs, des propriétaires expérimentés nous ont aidés à construire ce projet. <div class="text-orange">Nous sommes positionnés en tant que plateforme de confiance en respectant des valeurs fortes : </div>
<br>
<br>

<li><i class="fas fa-arrow-circle-right"></i> Nous avons fait le choix de ne pas accepter les étalons non LOF.</li>
<li><i class="fas fa-arrow-circle-right"></i> Nous contrôlons l’ensemble de nos annonces car nous ne désirons pas favoriser le trafic ou l’enrichissement abusif sur le dos de nos toutous.</li>
<li><i class="fas fa-arrow-circle-right"></i> Nous ne référençons que des utilisateurs qui acceptent d’être transparents et qui respectent nos valeurs afin d’éviter tout comportement malhonnête ou irrespectueux. Nous souhaitons constituer une communauté engagée.</li>

</div>

<br>
<br>

 <div class="row">

   <div class="col-sm-10 col-md-6">
    <%= image_tag "Helene.jpg", alt:"logo", class:"img-helene img-thumbnail"%>
   </div>

   <div class="col-sm-10 col-md-4">
      <div class="nous-citation"> "Des animaux protégés et une communauté engagée participent à une saillie sécurisée"
      </div>
      <div class="nous-signature"> Hélène - co-fondatrice Doggui  </div>
   </div>

</div>
