<div class="banner2" style="background-image: url('<%= asset_path'Chien.landing.jpg'%>');">
  <div class="banner-content">
    <h1> Nous </h1>
  </div>
</div>

<div class="container">

        <h2>Nos valeurs</h2>

      <div>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqm ipsam voluptatem quia voluptas sit aspernatur aut odit aut fub illo inventore veritatis. Nemo enim </div>
      <div>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore v
      Ss odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
      </div>
      <div>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium porro quisquam est, qui dolorem ipsum quia dolor sit amet.
      </div>

        <br>
        <br>

     <h2>Notre fonctionnement</h2>
    <br>

   <div class="row">
       <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-explication">
        <img src="https://png.icons8.com/bubbles/50/000000/male.png", class="image4">
         <div class="cards-explication-titre">vous avez un chien mâle</div>
         <br>
         Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam.
         <br>
         <%= link_to "INSCRIRE SON MOLOSSE", new_dog_path, class: "small-button btn btn-reverse btn-warning btn-inscrire"%>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-explication">
         <img src="https://png.icons8.com/bubbles/50/000000/female.png", class="image5">
         <div class="cards-explication-titre">vous avez un chien femmelle</div>
         <br>
         Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
         <br>
          <%= link_to "PARCOURIR LES MOLOSSES", index_search_path, class: "small-button btn btn-reverse btn-warning btn-parcourir"%>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-explication">
         <img src="https://png.icons8.com/dusk/50/000000/gender.png", class="image6">
        <div class="cards-explication-titre">Rencontre Propriétaire</div>
        <br>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.
        <br>
        <%= link_to "LES PIECES A VALIDER", new_dog_path, class: "small-button btn btn-reverse btn-warning btn-valider"%>
      </div>
      </div>
    </div>

      <br>
      <br>

      <h2>Notre équipe </h2>

   <div class="row">
       <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-explication">
        <img src="https://www.madametussauds.com/media/11028/carousel_steve_jobs_01_700x1000.jpg?center=0.25,0.528571428571429&mode=crop&width=1000&height=750", style="width: 300px", class="image4">
         <div class="cards-explication-titre">Fondateur 1</div>
         <br>
         Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim.

        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-explication">
         <img src="https://cdn.vox-cdn.com/thumbor/gfQcxUo7gmAXPhUcCOS6TPjHrC8=/0x0:3000x2119/1200x800/filters:focal(1260x820:1740x1300)/cdn.vox-cdn.com/uploads/chorus_image/image/59322067/669889770.jpg.0.jpg", style="width: 330px">
         <div class="cards-explication-titre">Fondateur 2</div>
         <br>
         Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lauda consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
         <br>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-explication">
         <img src="https://www.france-emploi.com/sites/default/files/styles/610-largeur/public/chien-au-bureau.jpg?itok=M3E2QYTx", style="width: 330px; height: 220px">
        <div class="cards-explication-titre">La team Molosse</div>
        <br>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.
        <br>
      </div>
      </div>

</div>
