<div>
  <% flash.each do |key, value| %>
    <div>
      <a href="#" data-dismiss="alert">×</a>
        <%= value %>
    </div>
  <% end %>

<%= image_tag "mercidog.jpg", height: 300, width: 250, crop: :fill%>

</div>
