.banner {
  color: white;
  text-align: center;
  height: 72vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom : 10px;
  margin-top : 10px;
  opacity: 0.95;
  //rajouter un lineargraduent?
}

.banner2 {
  color: white;
  text-align: center;
  height: 20%;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius : 5px;
  margin-bottom : 10px;
  margin-top : 10px;
  opacity: 0.70;
}

.banner h1 {
  margin-top: 130px; //faire descendre le titre//
  margin-bottom: 100px;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-color: white;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.banner-numbers {
 height: 35vh;
 margin-top: 14px;
 margin-bottom: 14px;
 padding-top: 14px;
 background-color: #EFAC53;
 color: #F2F2F2;
 align-items: center;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.banner-numbers-titre {
 text-transform: uppercase;
 font-size: 25px;
 text-align: center;
}

.logos img {
width: 75px;
padding: 8px;
background-color: white;
border-radius: 50px;
}

.image1 {
  margin-left: 51px;
}

.image2 {
  margin-left: 84px;
}

.image3 {
  margin-left: 37px;
}

.container-titre {
 text-transform: capitalize;
 font-size: 25px;
}

.container-cards {
  display: flex;
  justify-content: space-between;
}

.card-explication {
  width: 32%;
  height: 370px;
  background-color: white;
  padding: 6px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15);
}

.image4, .image5, .image6 {
width: 100px;
padding: 8px;
background-color: white;
border: solid, 3px, black;
margin-left: 110px;

}

.cards-explication-titre {
 text-transform: capitalize;
 font-size: 18px;
 text-align: center;
}

.btn-inscrire {
 margin-left: 80px;
 margin-top: 13px;
}

.btn-parcourir {
 margin-left: 74px;
 margin-top: 13px;
}

.btn-valider {
 margin-left: 79px;
 margin-top: 93px;
}





