.big-button {
width: 500px;
font-size : 35px;
background-color: orange;
color: white;
}

.btn-orange {
  background-color: orange;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  border: 1px solid white;
  font-weight: bold;
}

.btn-orange:hover {
  background-color: #cc822e;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  border: 1px solid white;
  font-weight: bold;
  text-decoration: none;
}


///BTN pour Ajouter votre chien NAV

.btn-inscription {
  background-color: orange;
  color: white !important;
  font-size: 17px;
  padding-right: 10px;
}

.btn-inscription:hover {
  background-color: #ec9c32 !important;
  text-decoration: none;
}

/// BTN SE CONNECTER S'INSCIRE

.btn-sple-or {
  color: orange;
  font-size: 15px;
  padding-right: 10px;
}

.btn-sple-or:hover {
  color: #f7cda1;
  padding-right: 10px;
  text-decoration: none;
}

.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}
.btn-new-session-form {
  width: 360px;
  color: white;
  padding: 10px 15px;
  border-radius: 1px;
  font-weight: bold;
  background: #EFAC53;
  transition: background 0.3s ease;
  margin-left: -14px;

}
.btn-new-session-form:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}




/* Build your own button classes ! */
