.big-button {
width: 500px;
font-size : 35px;
}

.btn-orange {
  background-color: #EFAC53;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  border: 1px solid white;
  font-weight: bold;
}

.btn-sple-or {
  color: #EFAC53;
  font-size: 17px;
  padding-right: 10px;
}

.btn-sple-or:hover {
  color: #f2d8ba;
  padding-right: 10px;
  text-decoration: none;
}