.big-button {
width: 500px;
font-size : 35px;
background-color: orange;
color: white;
}

.btn-orange {
  background-color: orange;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  border: 1px solid white;
  font-weight: bold;
}

.btn-orange:hover {
  background-color: #cc822e;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  border: 1px solid white;
  font-weight: bold;
  text-decoration: none;
}

///BTN pour Ajouter votre chien NAV

.btn-inscription {
  color: orange !important;
  font-size: 17px;
  padding-right: 10px;
  margin-right: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15);

  @media (max-width: $screen-sm-max) {
    box-shadow: none;
  }
}

.btn-inscription:hover {
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
  text-decoration: none;
  font-size: 16.5px;
}

/// BTN SE CONNECTER S'INSCIRE

.btn-sple-or {
  color: orange;
  font-size: 15px;
  padding-right: 10px;
}

.btn-sple-or:hover {
  color: #f7cda1;
  padding-right: 10px;
  text-decoration: none;
}

.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}
.btn-new-session-form {
  width: 360px;
  color: white;
  padding: 10px 15px;
  border-radius: 1px;
  font-weight: bold;
  background: #EFAC53;
  transition: background 0.3s ease;
  margin-left: -14px;

}
.btn-new-session-form:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}


///// BTN DEVIS

.btn-communaute {
  margin-top: 10px;
  margin-bottom: -10px;
  background-color: orange;
  width: 100%;
  padding: 15px 15px;
  border-radius: 6px;
  border: 1px solid white;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  font-size: 14px;
}

.btn-communaute:hover {
  opacity: 0.9;
  color: white !important;;
}


.lien-compte {
 padding: 15px 15px;
 margin-bottom: 5px !important;
 margin-top: 10px;
 margin-left: -11px;
}


.btn-facebook {
  margin-bottom: 19px;
  background-color: #3b5998;
  padding: 7px;
  border-radius: 6px;
  border: 1px solid white;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  display: flex;
  letter-spacing: 1px;
}

.btn-facebook:hover {
opacity: 0.9;
}


.lien-facebook {
  color: white;
  margin: auto;
}

.lien-facebook:hover {
  color: white !important;
  text-decoration: none;
}

.btn-seconnecter {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: orange;
  width: 100%;
  padding: 15px 15px;
  border-radius: 6px;
  border: 1px solid white;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  font-size: 14px;
}




/* Build your own button classes ! */
