.card {
  margin-top: 5px;
  width: 360px;
  height: 280px;
  background-color: white;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15);

}

.card_small {
  margin-top: 5px;
  height: 125px;
  width: 180px;
  background-color: white;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15);
  display: flex;
}

.card-image {
  margin-right: 5px;
  height: 180px;
  background-position: center;
  background-size: 390px 180px;
  width: 360px;
  margin: 0px auto;
  border-radius: 2px;
}

.card-image_small{
  height: 90px;
  background-position: center;
  width: 180px;
  margin: 0px auto;
  margin: 2px 2px;
  border-radius: 2px;
}

.card-user {
  position: absolute;
  left: -4px;
  bottom: -168px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  background-color: white !important;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

// Carte description

.card-description {
  position: relative;
  top: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}

.card-description h2 a {
 color: white;
 position: absolute;
 left: -4px;
 top: -5px;

}

.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;

}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.card-footer {
  position: absolute;
  font-size: 14px;
  bottom: 10px;
  left: 20px;
  color: black;
}

.card-footer-price {
  position: absolute;
  margin-left: 240px;
  min-width: 100px;
  margin-top: -21px;
  color: #ea9632;
  font-size: 17px;
}





