.card {
  position: relative;
  margin-top: 5vh;
  width: 100%;
  height: 249px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15);
}

.card-image {
  margin-right: 5vh;
  width: 360px;
  height: 185px;
  background-position: center;
  background-size: 390px 180px;
  margin: 0px auto;
  border-radius: 2px;
}

.card-image:hover {
  opacity: 0.85;
}

.card-head {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 1px;
  z-index:2;
}

.card-title{
  position: absolute;
  left: 6px;
  top: -18px;
  color: white;
}

.card-title h2 {
  font-size: 22px;
}

.card-like {
  position: absolute;
  background-image: url(heart1.jpg);
  background-size: cover;
  height: 35px;
  width: 35px;
  right: 10px;
  top: 8px;
  display: flex;
  border-radius: 40%;
}

.avatar-index {
  position: absolute;
  left: 4px;
  bottom: -19px;
  width: 40px;
  border-radius: 50%;
}

.avatar-index:hover {
  border: solid 1px #ea9632;
}

.card_small {
  margin-top: 5vh;
  height: 125px;
  width: 180px;
  background-color: white;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15);
  display: flex;
}


.card-image_small{
  height: 90px;
  background-position: center;
  width: 180px;
  margin: 0px auto;
  margin: 2px 2px;
  border-radius: 2px;
}

.card-category {
  position: absolute;
  background-color: white !important;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.card-description-titre {
 width: 80%;
 display: flex;
}


// Footer

.card-footer {
  height: 30%;
  width: 100%;
  position: absolute;
  bottom: 1px;
}

.card-footer-title {
 display: flex;
 width: 100%;
 height: 30%;
 margin-left: 5px;
 margin-top: 22px;
}

.card-footer-breed {
 text-transform :uppercase;
 font-size: 14px;
}

.card-footer-version {
 text-transform :capitalize;
 font-size: 14px;
 color: #918c8c;
 margin-left: 3px;
}

.card-footer-price {
  position: absolute;
  margin-left: 275px;
  min-width: 100px;
  color: #ea9632;
  font-size: 12px;
}

.card-ville {
  position: absolute;
  margin-left: 5px;
  color: black;
  font-size: 10px;
}



