
//le form complet 
.form-edit {
  width: 650px;
  margin-bottom: 20px;
  margin-left: 20%;
}

// La 1ere partie avatar du form 
.form-edit-avatar {
 display: flex;
 margin-bottom: 2px;
 width: 100%; 
 height: 135px;
 background-color: #F2F2F2; 
}

.edit-avatar {
  width: 25%;
  margin-left: 180px;
}

.edit-avatar-actuelle {
  width: 50%;
}

.edit-avatar-changement {
  width: 50%;
}

#user_avatar {
  margin-top: 62px !important;
  
}

[for="user_avatar"], #user_avatar {
margin-left: 174px;
margin-bottom: 20px;
}

#label-avatar {
 margin-left: 72px;
 padding-bottom: 5px;
}

// La 2nde partie nom du form 
.noms-edit {
  display: flex;
  justify-content: space-around;
  background-color: #F2F2F2; 
  margin-bottom: 2px;
  padding-top: 5px;
}

// La 3eme partie Email du form 
.email-edit {
 justify-content: center;
 background-color: #F2F2F2; 
 padding-top: 5px;
 padding-bottom: 5px;

}

//label user-email : 
[for="user_email"] {
 margin-left: 175px !important;
}


#user_email {
  margin-left: 175px !important;
}

