
//le form complet 
.form-edit {
  width: 650px;
  margin-bottom: 20px;
  margin-left: 20%;
}

//Premer champ photo
.edit-avatar {
  width: 120px;
  padding-right: 7px;
  padding-left: 7px;
  padding-bottom: 10px;
  padding-top: 10px;
}

//background for all 
.bg-grey {
  background: #F2F2F2;
  margin-bottom: 2px;
  width: 100%;
}

//ça ne marche pas faire varier la taille des champs
#user_introduction {
  max-width: 80%;
  min-width: 30%;
}

//bouton changement avatar
#user_avatar {
  margin-left: 117px;
  margin-top: 51px;
}