.banner {
  color: white;
  text-align: center;
  height: 72vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom : 10px;
  margin-top : 10px;
  opacity: 0.95;
  //rajouter un lineargraduent?
}


.banner h1 {
  margin-top: 130px; //faire descendre le titre//
  margin-bottom: 100px;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-color: white;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.banner-numbers {
 height: 35vh;
 margin-top: 14px;
 margin-bottom: 14px;
 padding-top: 14px;
 background-color: #EFAC53;
 color: #F2F2F2;
 align-items: center;
}


.banner-numbers-titre {
 margin-bottom: -5px;
 text-transform: uppercase;
 font-size: 25px;
 text-align: center;
}

.number-card {
  width: 100%;
  height: 150px;
  padding-top: 20px;
  color: white;
}

.banner-number {
  margin-bottom: 10px;
  background-color: #EFAC53;
  text-align: center;
}

.legende-number-card {
  width: 100%;
  font-size: 18px;
  margin-top: 7px;
}

.image-number {
  width: 75px;
  padding: 8px;
  background-color: white;
  border-radius: 50px;
}

.container-titre {
 text-transform: capitalize;
 font-size: 25px;
}

.card-explication {
  width: 100%;
  height: 370px;
  background-color: white;
  padding: 6px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15);
  text-align: center;
}

.image4, .image5, .image6 {
width: 100px;
padding: 8px;
background-color: white;
border: solid, 3px, black;
}

.cards-explication-titre {
 text-transform: capitalize;
 font-size: 18px;
}

.btn-inscrire .btn-parcourir {
 margin-top: 13px;
}


.btn-valider {
 margin-top: 93px;
}





