.index2 {
  display: flex;
}

.container-card {
  width: 70%;
}

.search-index2 {
  display: flex;
}


.search-bar {
margin-top: -29px;
margin-left: -160px !important;
}

.btn-search-index2{
margin-top:-24px;
margin-left: 4px;
height: 35px;
border-radius: 10%;

}
