//  Banner :

.banner-content {
  background-color: red;
}

.search-index2 {
  display: flex ;
  text-align: center;
}

.search-bar {
  margin-left: -111px !important;
  width: 100%;
  background-color: white;

}

.btn-search-index2{
background-color: #ea9632;
height: 35px;
weight: 40px;
border-radius: 10%;
background-image: url(loupe.png);
background-repeat: no-repeat;
padding-right: 2px;
}


// contenu :

.index2 {
  display: flex;
}

.container-card {
  width: 70%;
}
