
//  Banner :

.banner2 {
  color: white;
  text-align: center;
  height: 20%;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius : 5px;
  margin-bottom : 10px;
  margin-top : 10px;
  opacity: 0.70;
}

.banner-content {
  width: 600px;
  padding-bottom: 18px;
}

.search-index2 {
  display: flex ;
  text-align: center;
}

#query {
  margin-left: 49px;
  width: 463px;
}


.btn-search-index2{
margin-top:5px;
width: 37px;
height: 34px;
background-image: url(loupe2.jpg);
background-size: 33px 34px;
background-repeat: no-repeat;
}


// contenu :

.index2 {
  display: flex;
}

.container-card {
min-width: 125vh;
}

.map-container {
  margin-top: 19px;
  height: 70vh;
  flex: 0 0 350px;
  position: sticky !important;
  top: 0 !important;
  margin-left: 20px;
}
