// Import your components CSS files here.
@import "navbar";
@import "footer";
@import "cards";
@import "index1";
@import "button";
@import "dogs_controller";
@import "_new_dog.scss";
@import "view_show";
@import "index2";
@import "new_user";
@import "alert";


