
//  Banner :

.banner2 {
  color: white;
  text-align: center;
  height: 15%;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom : 10px;
  opacity: 0.70;
}

.banner-content {
  width: 600px;
  padding-bottom: 18px;
}

.search-index2 {
  display: flex ;
  text-align: center;
}


.btn-search-index2{
margin-top:5px;
width: 37px;
height: 34px;
background-image: url(loupe2.jpg);
background-size: 33px 34px;
background-repeat: no-repeat;
}


// contenu :

.container-flex {
  display: flex;
}

.container-card {
  flex: auto;
}

.map-container {
  margin-top: 15px;
  flex: 0 0 30%;
  height: 80vh;
  position: sticky !important;
  top: 0 !important;
}







