/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: #F2F2F2;
  transition: all 0.3s ease;
  height: 50px;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
  border-top: 2px solid white;
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
  margin-right: 30px;
  margin-left: -5px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  z-index: 1000;
}

.nav-middle {
  flex: 1 0 auto;
}

.link-to-nav {
  color: #918c8c;
  font-size: 15px;
  text-transform: uppercase;
  margin-right: 15px;
}

.link-to-nav:hover {
  color: #423e3e;
  text-decoration: none;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
}

/* Navbar link */

.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */

//Encadrement drop-down
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  background-color: #F2F2F2;
}

// Liens menu dropdown
.navbar-wagon-dropdown-menu li > a {
  color: black;
  text-transform: capitalize;
  transition: color 0.3s ease;
  font-weight: lighter !important;
  font-size: 16px !important;
  line-height: 22px !important;
  padding: 10px 20px;
  
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: #F2F2F2;;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;

}

.nav-connexion {
 display: flex;
 align-items: center;
}

.barre-nav {
  height: 18px;
  width : 2px;
  background: #EFAC53;
  margin-right: 9px;
}


