

/* Main navbar */
.navbar {
  margin-bottom: 0px;
  background-color: white !important;
  border: 1px solid transparent !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

/* Logo */
.navbar-brand img {
 margin-top: -15px;
 margin-left: -10px;
}

/* User Avatar */

.avatar-navbar {
  width: 49px;
  border-radius: 50%;

}

.avatar-navbar:hover {
  border: solid 1px #ea9632;
}


.link-to-nav-1 {
  color: grey !important;
  font-weight: 160 !important;
  font-size: 15px;
  text-transform: capitalize;
  margin-right: 15px;
  background-color: transparent !important;
  margin-top: 3px;
}

.link-to-nav-1:hover {
  color: black !important;
  text-decoration: underline !important ;
}


.nav-connexion {
 display: flex;
 align-items: center;
 text-transform: uppercase;
}

.barre-nav {
  height: 20px;
  width : 1px;
  background: #EFAC53;
  margin-right: 9px;
}


.navbar-right {
  margin-right: 15px !important;
}


.link-footer {
  color: black !important;
  font-weight: 400 !important;
  font-size: 15px;
  text-transform: uppercase;
  margin-right: 15px;
  background-color: transparent !important;
  margin-top: 5 px;
}










