label {
  font-weight: 600 !important;
  text-transform: uppercase !important;
  opacity: 0.8 !important;
  letter-spacing: 0.3px;
}


.form-group-invalid {
  input[type=text] {
    border-color: #df6359;
  }

  .invalid-feedback {
    color: #df6359;
    font-size: 0.9em;
    margin-top: 0.4em;
  }
}

.bloc-new-form-picture {
  border-radius: 0px 15px 0px 0px;
  margin-bottom: 15px;
  opacity: 0.90;
  box-shadow: 0 3px 5px 0 #b7b7b7;
  padding: 20px;
  background: #fcfcfc;
}

.bloc-new-form-detail {
  border-radius: 0px 15px 0px 0px;
  margin-bottom: 15px;
  box-shadow: 0 3px 5px 0 #b7b7b7;
  padding: 20px;
  background : linear-gradient(#fcfcfc, #F2F2F2);
}

.bloc-new-form-description {
  border-radius: 0px 15px 0px 0px;
  margin-bottom: 15px;
  box-shadow: 0 3px 5px 0 #b7b7b7;
  padding: 20px;
  background-color: #e5e5e5;
}




.lof-number-input {
  display: none;
}

.d-flex {
  display: flex;
  width: 305px;
  justify-content: space-around;
}


.form-control:focus {
  border-color: 2px orange;
  text-align: left;
  box-shadow: inset 0 1px 1px orange, 0 0 2px orange;
}


.illu-form-for-picture {
  background-color: #FFB973;
  height: 160px;
  color: black;
  font-weight: 300;
  padding: 0px 15px;
  opacity: 0.5;
  border-radius: 0px 0px 0px 15px;
}


.illu-form-for-detail {
  background: linear-gradient(#FFB973, #FF9226);
  height: 332px;
  color: black;
  font-weight: 300;
  padding: 15px;
  opacity: 0.7;
  border-radius: 0px 0px 0px 15px;
}

.illu-form-for-description {
  background-color: #FF9226;
  height: 430px;
  color: black;
  font-weight: 300;
  padding: 15px;
  opacity: 0.8;
  border-radius: 0px 0px 0px 15px;
}

.btn-form {
  background-color: white;
  color: grey;
  padding: 15px;
  font-size: 20px;
  text-transform: capitalize;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 3px 5px 0 #928C8C;
}










