////// NEW-DOG + EDIT DOG //////

#new_dog {
  background-color: #F2F2F2;
  width: 700px;
  margin: auto;
  padding-left: -10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.edit_dog{
  background-color: #F2F2F2;
  width: 700px;
  margin: auto;
  padding-left: -10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-group {
  margin-left: -108px;
}


.form-control {
text-align: left;
}

.form-control:focus {
  border-color: #ea9632;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(255, 0, 0, 0.6);
}
///Tous les labels du form_for

.form-control-label {
  margin-left: 118px;
  text-align: justify;
  }


[for="dog_picture"] {
  margin-left: 130px;
}

.form-control-label[for="dog_description"] {
  margin-left: 133px;
}

.form-control-label[for="dog_medical_analyse"] {
  margin-left: 242px;
}

/// les différents champ //////


#dog_picture {
margin-left: 130px;
}

#dog_video {
width: 160px;
}

#dog_address {
width: 688px;
margin-left: 116px;
}

#dog_description {
margin-left: 130px;
width: 688px;
height: 100px;
}

#dog_medical_analyse {
 margin-left: 240px;
}

#dog_lof_number, #dog_father_lof, #dog_mother_lof, #dog_hair, #dog_color, #dog_size, #dog_breed,
#dog_nickname,#dog_medical_analyse, #dog_price, #dog_prize, #dog_version, #dog_eye_color {
width: 200px;
margin-left: 115px;
}

#dog_birthday_date_1i, #dog_birthday_date_2i, #dog_birthday_date_3i {
width: 85px;
}

 #dog_birthday_date_1i {
  margin-left: 269px;
 }

//Date
 #dog_birthday_date_3i {
  width: 70px;
  margin-left: 83px;
  margin-top: -35px;
 }

 #dog_birthday_date_2i {
  margin-left: 154px;
  margin-top: -34px;
  width: 112px;
 }

//BTN
.btn-form-new {
  width: 195px;
  margin-top: 22px;
  height: 50px;

}


