label {
  font-weight: 500 !important;
  text-transform: uppercase !important;
}


.form-group-invalid {
  input[type=text] {
    border-color: #df6359;
  }

  .invalid-feedback {
    color: #df6359;
    font-size: 0.9em;
    margin-top: 0.4em;
  }
}

.bloc-new-form {
  margin-top: 20px;
  border-radius: 2px;
  margin-bottom: 10px;
  box-shadow: 0 3px 5px 0 #928C8C;
  padding: 20px;
  background-color: #F2F2F2;
}

.lof-number-input {
  display: none;
}

.d-flex {
  display: flex;
  width: 305px;
  justify-content: space-around;
}


.form-control:focus {
  border-color: 2px orange;
  text-align: left;
  box-shadow: inset 0 1px 1px orange, 0 0 2px orange;
}


.illu-form-for-picture {
  background-color: #FFB973;
  height: 243px;
  color: black;
  font-weight: 300;
  padding: 15px;
  opacity: 0.5;
}


.illu-form-for-detail {
  background: linear-gradient(#FFB973, #FF9226);
  height: 332px;
  color: black;
  font-weight: 300;
  padding: 15px;
  opacity: 0.7;
}

.illu-form-for-description {
  background-color: #FF9226;
  height: 448px;
  color: black;
  font-weight: 300;
  padding: 15px;
  opacity: 0.8;
}

.btn-form {
  background-color: #FFB973;
  color: white;
  padding: 15px;
  font-size: 20px;
  text-transform: uppercase;
  width: 100%;
  border-radius: 5px;
}

.btn-form:hover {
  background-color: orange;
  color: white;
  padding: 15px;
  font-size: 20px;
  text-transform: uppercase;
  width: 100%;
  border-radius: 5px;
}









