.nous-titre {
  margin-bottom: 15px;
  margin-top : 20px;
  font-size: 25px;
}

.nous-titre-1 {
  color: grey;
  font-size: 33px;
  margin-bottom: -10px;
}

.nous-titre-2 {
color: orange;
letter-spacing: .65rem;
font-size: 40px;
}


.nous-paragraphe-1 {
  margin-top: 35px;
  margin-bottom: 25px;
  letter-spacing: .2rem;
  color: grey;
  font-size: 20px;
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;


}

.nous-paragraphe-2 {
  margin-top: 35px;
  margin-bottom: 25px;
   letter-spacing: .2rem;
  color: grey;
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
}

.nous-paragraphe-3 {
  margin-top: 35px;
  margin-bottom: 15px;
  letter-spacing: .2rem;
  color: grey;
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
}

.nous-paragraphe-4 {
  margin-top: 25px;
  margin-bottom: 15px;
  letter-spacing: .2rem;
  color: grey;
  font-size: 20px;
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
}

.nous-conclusion {
color: orange;
  font-size: 22px;
  margin-bottom: 30px;
  margin-top : 20px;

}

li
{
list-style-type: none;
}

em {
  color: orange;
  text-transform: none;
}
