
.nous-citation {
margin-top: 60px;
color: orange;
letter-spacing: .45rem;
font-size: 20px;
float: left;
}

.nous-signature {
color: black;
margin-top: 20px;
font-size: 13px;
float: left;
}


.nous-paragraphe-1 {
  margin-bottom: 25px;
  color: grey;
  font-weight: 500;
  font-size: 20px;
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
}

.nous-titre-1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 25px;
  color: grey;
  font-weight: 500;
  font-size: 20px;
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;


}

.text-orange {
 display: inline;
 color: orange;
}


.nous-paragraphe-2 {
  margin-top: 35px;
  margin-bottom: 25px;
  color: grey;
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
}

.nous-paragraphe-3 {
  margin-top: 35px;
  margin-bottom: 15px;
  color: grey;
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
}

.nous-paragraphe-4 {
  margin-top: 25px;
  margin-bottom: 15px;
  color: grey;
  font-size: 20px;
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
}

.nous-conclusion {
  color: orange;
  font-size: 22px;
  margin-bottom: 30px;
  margin-top : 20px;

}

li
{
list-style-type: none;
}


.legal-titre {
  color: orange;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 30px;
}

.legal-contenu {
  color: grey;
  font-size: 20px;
  margin-bottom: 30px;
}


.img-helene {
  margin-top: 40px;
  opacity: 0.90;
  width: 60%;
  float: right;
   @media (max-width: $screen-xs-max) {
    float:left;
  }
}

// Formulaire contact

.contact {
text-align: center;
}

.image-contact {
width: 250px;


}



