.view-show{
  display: flex;
  background-color: green;
}

.listing{
 display: flex;
 width: 70%;
 background-color: grey;
 border: solid 10px pink;
}

//div Features

.features {
  background-color: red;
  min-width: 30%;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
}

//div Card-Show

.card-show {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
  min-width: 70%;
  background-color: orange;
}

.image-show {
 background-position: center;
 border-radius: 2px;
 background-position: center;
 height: 300px;
 width: 500px;
}

.card-bouton {

}

.info {
  min-width: 100%;
}





/////////////////

.show-card-name {
  color: #EAA95C;
  font-size: 40px;
  font-color: orange;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.grid-titre {
  color: orange;
  text-transform: uppercase;
  font-size: 20px;
}


/// CONTENU DE LA DESCRITPION

.esthetique, .lof, .divers {

}

///TITRE DE LA DESCRIPTION

.texte-caracteristique {
text-transform: uppercase;
}


.grid-description {
  word-wrap: break-word;
  background-color: #F2F2F2;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
}

.grid-user {
  background-color: #F2F2F2;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
}

.grid-adresse {
  background-color: #F2F2F2;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
}
.map-show{
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
}

.grid-user-avatar {
  border-radius: 50%;
  width: 70px;
}

.grid-review {

}

.icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: solid 1px;
}

.chat {
  margin-top: 19px;
  flex: 0 0 30%;
  position: sticky !important;
  top: 0 !important;
  margin-left: 20px;
  background-color: blue;

}





