.view-show{
 margin:0px auto;
 display: flex;

}
.grid-show {
  width: 65%;
  display: grid;
  grid-gap: 6px;
  grid-template-columns: 34% 65%;
  grid-template-rows: 400px 200px 160px;
  margin-bottom: 4px;
}

.show-card-name {
  color: #EAA95C;
  font-size: 40px;
  font-color: orange;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.grid-titre {
  color: orange;
  text-transform: uppercase;
  font-size: 20px;
}

.grid-image {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
}

.image-show {
 background-position: center;
 border-radius: 2px;
 height: 100%;
 width: 100%;
 background-position: center;
}

.grid-bouton {

}

.grid-caracteristique {
  grid-column: 1 / span 1;
  grid-row: 1  / span 1;
  background-color: #F2F2F2;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
}

/// CONTENU DE LA DESCRITPION

.esthetique, .lof, .divers {

}

///TITRE DE LA DESCRIPTION

.texte-caracteristique {
text-transform: uppercase;
}


.grid-description {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  word-wrap: break-word;
  background-color: #F2F2F2;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
}

.grid-user {
  grid-column: 1 / span 1;
  grid-row: 2  / span 1;
  background-color: #F2F2F2;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
}

.grid-adresse {
  background-color: #F2F2F2;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
}
.grid-map {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
}

.grid-user-avatar {
  border-radius: 50%;
  width: 70px;
}

.grid-review {

}

.icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: solid 1px;
}

.chat {
  width: 30%;
  margin-left: 1%;
  background-color: #F2F2F2;
}





